[submodule "camunda-loan-poc"]
	path = camunda-loan-poc
	url = https://github.com/Gammanik/camunda-poc.git
[submodule "temporal-loan-poc"]
	path = temporal-loan-poc
	url = https://github.com/Gammanik/temporal-poc.git
[submodule "restate-loan-poc"]
	path = restate-loan-poc
	url = https://github.com/Gammanik/restate-poc.git
